doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Profile
        link(rel="stylesheet", href="/css/ballons.css")
        link(rel="stylesheet", href="/css/modelo.css")
    body

        div(class="wp-division")
            include layout/navbar.pug 
            main
                include layout/barUp.pug
                div(class="wp-modelo")
                    div(class="wp-banner")
                        h1= modeloInfo.nombre
                    div(class="wp-dataAll")
                        div(class="wp-imgModel")
                            img(src=modeloInfo.img, alt="")
                        div(class="wp-dataModel")
                            div(class="wp-titleData")
                                h2 Datos
                            div(class="card-info" aria-label="Colegio" data-balloon-pos="up")
                                div(class="wp-imgCardInfo")
                                    img(src="/icons/school.svg", alt="")
                                div(class="wp-text")
                                    p= modeloInfo.colegio
                            div(class="card-info" aria-label="Direccion" data-balloon-pos="up")
                                div(class="wp-imgCardInfo")
                                    img(src="/icons/pin.svg", alt="")
                                div(class="wp-text")
                                    p= modeloInfo.direccion
                            div(class="card-info" aria-label="Fecha de registro" data-balloon-pos="up")
                                div(class="wp-imgCardInfo")
                                    img(src="/icons/calendario.svg", alt="")
                                div(class="wp-text")
                                    p= `${modeloInfo.dataRegistered.getDate()}-${modeloInfo.dataRegistered.getMonth()+1}-${modeloInfo.dataRegistered.getFullYear()} - ${modeloInfo.dataRegistered.getHours()}:${modeloInfo.dataRegistered.getMinutes()}`
                            div(class="card-info" aria-label="Creador" data-balloon-pos="up")
                                div(class="wp-imgCardInfo")
                                    img(src="/icons/pluma.svg", alt="")
                                div(class="wp-text")
                                    p= modeloInfo.creador
                        div(class="wp-lideres")
                            div(class="wp-titleLideres")
                                h2 Lideres
                            each val,index in modeloInfo.lideres
                                div(class="card-lider")
                                    div(class="card-img")
                                        img(src="/icons/user.svg", alt="")
                                    div(class="wp-dataLider")
                                        h4= val
                                        span= modeloInfo.correos[index]
                                        span= modeloInfo.telefonos[index]
            
        script(src="/js/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="/js/modelos.js")

